:root {
  --jughead-primary-yellow: #FDCB58;
  --jughead-inactive-grey: #C5C5C5;
  --jughead-inactive-grey-dark: #5f5f5f;
  --jughead-white: #E9F0FA;
  --jughead-black: #000000;
  --jughead-teal: #00BEA6;
  --jughead-text-dark: #2A3554;

  /* ============ Fonts ============ */
  --font-small: 0.64rem;
  --font-small2: 0.75rem;
  --font-medium: 0.9rem;
  --font-large: 1rem;
  --font-xlarge: 1.25rem;
  --font-xxlarge: 1.5rem;

  --font-btn: 0.8rem;

  /* ============ Bootstrap ============ */
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg: #000;
  --bs-body-bg-rgb: 255,255,255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0,0,0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33,37,41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233,236,239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33,37,41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248,249,250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13,110,253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10,88,202;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  font-family: var(--bs-btn-font-family);
  font-size: var(--font-btn);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--jughead-black);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: none;
  border-radius: 10px;
  background-color: var(--jughead-primary-yellow);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: var(--jughead-primary-yellow);
  background-color: var(--jughead-black);
  border-color: var(--jughead-primary-yellow);
}

body {
  margin: 0;
  /* montseratte */
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-medium);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ============== Global ============== */

.active {
  color: var(--jughead-primary-yellow);
}

.bold {
  font-weight: bold;
}

.yellow {
  color: var(--jughead-primary-yellow);
}

.teal {
  color: var(--jughead-teal);
}

.weight-700 {
  font-weight: 700;
}

/* ============== Navbar ============== */

.navbar {
  background-color: black;
  color: var(--jughead-inactive-grey);
  padding: 40px 0;
}

.navbar a {
  color: var(--jughead-inactive-grey);
  font-size: var(--font-medium);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--jughead-primary-yellow);
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links a:hover {
  color: var(--jughead-white);
}

.nav-profile-pic {
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.login-user-nav {
  margin-right: 30px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: black;
  background-color: var(--jughead-primary-yellow);
  border-color: var(--jughead-primary-yellow);
}

.dropdown .btn:hover {
  color: var(--jughead-primary-yellow);
  background-color: transparent;
  border-color: var(--jughead-primary-yellow);
  box-shadow: 0 0 0 2px var(--jughead-primary-yellow);
}

.dropdown {
  display: inline-block;
  justify-content: end;
}

.dropdown .dropdown-menu {
  width: 20rem;
  top: 100%;
  right: 0;
  margin-top: 10px;
  margin-right: -1px;
  left: auto;
  border: 1px solid var(--jughead-primary-yellow);
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.dropdown-profile-pic {
  padding: 25px 15px 25px 25px;
}

.dropdown-profile-pic img {
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown-username {
  color: white;
  padding: 25px 0;
}

.dropdown .dropdown-menu .dropdown-user a {
  font-size: var(--font-medium);
  color: var(--jughead-inactive-grey-dark);
  text-decoration: none;
  padding: 0;
}

.dropdown .dropdown-menu .dropdown-user a:hover {
  color: var(--jughead-primary-yellow);

}

.dropdown .dropdown-menu .navbar-dropdown-links a {
  font-size: var(--font-large);
  padding: 10px 25px;
}

.dropdown .dropdown-menu .navbar-dropdown-links a:hover {
  color: var(--jughead-primary-yellow);
  background-color: transparent;
}

.user-dropdown {
  border-radius: 30px;
  padding: 5px 5px 5px 15px;
  background-color: black;
  border: 1px solid var(--jughead-primary-yellow);
  color: var(--jughead-primary-yellow);
  font-size: var(--font-medium);
  align-items: center;
  display: flex;
}

.dropdown-toggle::after {
  display: none;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

/* ============== Footer ============== */

.footer-container {
  color: var(--jughead-inactive-grey-dark);
  font-size: var(--font-medium);
  margin: 80px auto;
}

.footer-container p {
  margin: 0;
}

.footer-container strong {
  color: var(--jughead-white);
}

.slash-divider {
  margin: 0 10px !important;
}

.footer-nav {
  height: 50px;
}

.footer-disclaimer {
  font-size: var(--font-small2);
}

/* ============== Carousel ============== */
.carousel-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height:420px;
  margin: auto;
}

.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-prev {
  left: 20px;
}

.carousel-control-next {
  right: 20px;
}

.carousel-caption {
  position: absolute;
  right: 50%;
  top: 50%;
  left: auto;
  bottom: auto;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
  transform: translate(50%, -50%);
}

.carousel-image-container {
  /* Set the container's width and height as per your requirement */
  width: 100%;
  height: 420px;
  /* Center align the image within the container */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Apply object-fit to cover the container and hide any overflow */
  overflow: hidden;
  /* Set the background size to cover and position the image */
  background-size: cover;
  background-position: center; /* You can adjust this value to change the image position */
}

.carousel-1-caption {
  color: black;
}

.carousel-2-caption {
  color: black;
}

.carousel-3-caption {
  color: black;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  margin-right: 8px;
  margin-left: 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators .active {
  opacity: 1;
}


element.style {
}
.carousel-control-next {
    right: 20px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}

/* =============================================== */
/*? ==================== HOME ==================== */
/* =============================================== */

.discover-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.discover-heading {
  font-size: 60px;
  font-weight: 700;
  color: var(--jughead-white);
  margin: 24px 0;
  line-height: 60px;
}

.discover-line hr {
  width: 100%;
  background-color: var(--jughead-primary-yellow);
  opacity: 1;
  margin: 10px 0;
}

.discover-line hr:nth-child(1) {
  height: 5px;
}

.discover-line hr:nth-child(2) {
  height: 4px;
}

.discover-line hr:nth-child(3) {
  height: 3px;
}

.discover-line hr:nth-child(4) {
  height: 2px;
}

.home-quick-nav-container {
  width: 100%;
  height: 250px;
  background-color: red;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.home-quick-nav-container:hover {
  box-shadow: 0 0 0 2px var(--jughead-primary-yellow);
  cursor: pointer;
}

.quick-nav-hover-box {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  transition: background-color 0.5s ease;
}

.quick-nav-hover-box p {
  display: flex;
  align-self: end;
  color: var(--jughead-white);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  transition: color 0.5s ease;
}

.quick-nav-hover-box:hover {
  background-color: #0000009b;
}

.quick-nav-hover-box:hover p {
  font-size: 25px;
}

.diveder-heading {
  color: var(--jughead-black);
  background-color: var(--jughead-primary-yellow);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 24px auto;
}

.diveder-heading h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
}

/* product card */

.product-card {
  background-color: var(--jughead-white);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-bottom: 24px;
}

.product-card img {
  width: calc(100% - 60px);
  margin-bottom: 10px;
}

.product-card .product-name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--jughead-black);
}

.product-card .product-price {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--jughead-teal);
  margin-bottom: 15px;
}

/* =============================================== */
/*? ================ Product Page ================ */
/* =============================================== */

.product-page-container {
  background-color: var(--jughead-white);
  border-radius: 10px;
  width: 100%;
  padding: 20px 30px;
}

.breadcrumb a {
  color: var(--jughead-inactive-grey-dark);
  font-size: var(--font-small2);
  text-decoration: none;
  margin-right: 5px;
}

.breadcrumb span {
  color: var(--jughead-inactive-grey-dark);
  font-size: var(--font-small2);
  margin-right: 5px;
}

.breadcrumb-item {
  font-size: var(--font-small2);
  text-decoration: none;
}

.breadcrumb-item.active {
  color: var(--jughead-teal);
  font-size: var(--font-small2);
}

.product-page-info {
  color: var(--jughead-text-dark);
}

.product-page-info h2 {
  color: var(--jughead-teal);
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.product-page-info h3 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 15px;
}

.product-page-info p {
  margin: 0;
}

.product-page-ul {
  margin-top: 15px;
  padding-left: 18px;
}

.product-main-image img {
  width: 300px;
  object-fit: cover;
}

.product-thumbnails {
  border-right: 1px solid var(--jughead-inactive-grey);
}

.product-thumbnails img {
  width: 85px;
  margin-bottom: 10px;
}

.product-thumbnails img:hover {
  cursor: pointer;
}

.thumbnail-container {
  text-align: center;
  padding: 10px;
}

.thumbnail-container.active {
  border: 2px solid var(--jughead-teal);
  border-radius: 10px;
}

.product-sizes {
  padding: 0;
}

.product-sizes li {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--jughead-inactive-grey);
  border: 2px solid var(--jughead-inactive-grey);
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-sizes li.active{
  color: var(--jughead-teal);
  border: 2px solid var(--jughead-teal);
}

.size-button li:hover {
  background-color: #2980b9;
}

.add-to-cart-btn {
  background-color: var(--jughead-teal);
  color: var(--jughead-white);
  border: none;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: var(--font-medium);
  cursor: pointer;
  transition: background-color 0.3s;  
}